.side-bar
  .side-header
    .side-header__box
      %p.header__box__username
        ユーザーネーム
      %ul.side-header__box__menu
        %li.side-heder__box__edit-user
          = link_to '#' do
            = icon('fa', 'edit')
        %li.side-header__box__new-group
          = link_to '#' do
            = icon('fa', 'cog')
  .groups
    .group
      .groups__group__name
        test
      .groups__group__latest__message
        ありません
